@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./nav-item.module.css);
@import url(./fonts.css);
@import url(./prism-tomorrow.css);

:root {
  font-size: 13px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-700;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  border: solid 0.2rem theme("borderColor.neutral.700");
  @apply bg-neutral-400/70;
}

.transparent-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.transparent-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  border: solid 0.2rem theme("borderColor.slate.900");
  @apply bg-neutral-400/70;
}

#technical-experience {
  background: rgb(33, 30, 147);
  background: linear-gradient(
    180deg,
    rgba(28, 24, 153, 0.8) 35%,
    rgba(198, 61, 0, 0.8) 100%
  );
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    @apply border-r-cyan-400;
  }
}

@layer base {
  html {
    @apply bg-slate-950;
  }
  a:hover {
    @apply text-cyan-400 duration-200;
  }
  a {
    @apply duration-200;
  }
}

@layer utilities {
  .vertical-text {
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }

  .hide-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  .hide-scrollbar::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
  }
}

@layer components {
  .rounded-table th:first-of-type {
    @apply rounded-tl-xl;
  }
  .rounded-table th:last-of-type {
    @apply rounded-tr-xl;
  }
  .rounded-table tr:last-of-type td:first-of-type {
    @apply rounded-bl-xl;
  }
  .rounded-table tr:last-of-type td:last-of-type {
    @apply rounded-br-xl;
  }

  .typewriter {
    @apply overflow-hidden border-r-[.15em] border-r-cyan-400 whitespace-nowrap mx-0 my-auto font-mono;
    letter-spacing: 0.001rem;
    animation: typing 2.5s steps(70, end), cursor-blink 0.75s step-end infinite;
  }

  .loading-cover {
    background: rgba(15, 23, 42, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
  }

  .iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  overflow: auto;
}

html {
  scroll-padding-top: 36px;
}

*::selection {
  @apply bg-orange-700/50;
}

* {
  box-sizing: border-box;
}

body h1 {
  font-size: 3.2rem;
}

body h2 {
  font-size: 2.4rem;
}

body h3 {
  font-size: 2rem;
}

body h4 {
  font-size: 1.5rem;
}

body p {
  font-size: 1.1rem;
  font-weight: 500;
}

body ul,
ol {
  font-size: 1.2rem;
  font-weight: 500;
}

#experience-index {
  background-image: url(../../public/images/binding_dark.png);
  background-repeat: repeat;
  @apply brightness-[0.6];
}
