@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./nav-item.module.css);
@import url(./fonts.css);

:root {
  font-size: 14px;
  --scroll-bar-bg: #282828;
  --scroll-bar-thumb-bg: #999;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--scroll-bar-thumb-bg) var(--scroll-bar-bg);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: max(0.8vw, 8px);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-thumb-bg);
  border: max(0.4vw, 4px) solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

*::-webkit-scrollbar-track {
  background-color: var(--scroll-bar-bg);
}

* {
  font-family: "Glory", sans-serif;
}

body h1 {
  font-size: 4rem;
}

body h2 {
  font-size: 2.8rem;
}

body h3 {
  font-size: 2rem;
}

body h4 {
  font-size: 1.4rem;
}

body p {
  font-size: 1.2rem;
  font-weight: 500;
}

body p.small {
  font-size: 0.85rem;
}
