@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./nav-item.module.css);
@import url(./fonts.css);
@import url(./prism-tomorrow.css);

:root {
  font-size: 14px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor-blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    @apply border-r-cyan-400;
  }
}

@layer base {
  html {
    @apply bg-slate-900;
  }
  a:hover {
    @apply text-cyan-400 duration-200;
  }
  a {
    @apply duration-200;
  }
}

@layer utilities {
  .vertical-text {
    text-orientation: mixed;
    writing-mode: vertical-rl;
  }
}

@layer components {
  .typewriter {
    @apply overflow-hidden border-r-[.15em] border-r-cyan-400 whitespace-nowrap mx-0 my-auto font-mono;
    letter-spacing: 0.001rem;
    animation: typing 2.5s steps(70, end), cursor-blink 0.75s step-end infinite;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::selection {
  @apply bg-orange-700/50;
}

html {
  box-sizing: border-box;
}

body h1 {
  font-size: 3.2rem;
}

body h2 {
  font-size: 2.4rem;
}

body h3 {
  font-size: 2rem;
}

body h4 {
  font-size: 1.5rem;
}

body p {
  font-size: 1.2rem;
  font-weight: 500;
}

body ul,
ol {
  font-size: 1.2rem;
  font-weight: 500;
}
